/ {
	aliases {
		stepper = &tmc51xx;
		//motion-controller = &tmc_motion_controller;
	};
};

&spi1 {
	//pinctrl-0 = < &spi3_sck_pb3 &spi3_miso_pb4 &spi3_mosi_pb5>;
	pinctrl-0 = <&spi1_sck_pa1 &spi1_miso_pa6 &spi1_mosi_pa7>;
	pinctrl-names = "default";
	cs-gpios = <&gpioc 9 GPIO_ACTIVE_LOW>;
	status = "okay";
	tmc51xx: tmc51xx@0 {
		compatible = "adi,tmc51xx";
		reg = <0>;
		spi-max-frequency = <DT_FREQ_M(1)>;
		//diag0-gpios = <&gpio0 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; /* Diag0 pin */

		#address-cells = <1>;
		#size-cells = <0>;

		/* Common settings from base binding */
		clock-frequency = <DT_FREQ_M(16)>; /* Internal/External Clock frequency */
		en-pwm-mode;
		invert-direction;
		micro-step-res = <256>;

		/* ADI TMC ramp generator as well as current settings */
		vstart = <0>;
		vstop = <10>;
		a1 = <1000>;
		v1 = <50000>;
		d1 = <1400>;
		vmax = <200000>;
		amax = <50000>;
		dmax = <700>;
		tzerowait = <100>;
		ihold = <10>;
		irun = <31>;
		iholddelay = <6>;
	};
};
