/ {
	aliases {
		stepper = &adi_tmc2209;
	};
};

&timers7 {
	st,prescaler = <79>;
	counter: counter {
		status = "okay";
	};
};

/ {
	adi_tmc2209: adi_tmc2209 {
		compatible = "adi,tmc2209";
		status = "okay";
		micro-step-res = <8>;
		msx-gpios = <&gpiob 0 GPIO_ACTIVE_HIGH>,	/* D10 */
					<&gpioa 7 GPIO_ACTIVE_HIGH>;	/* D11 */
		en-gpios = <&gpioa 6 GPIO_ACTIVE_HIGH>;		/* D12 */
		step-gpios = <&gpioa 9 GPIO_ACTIVE_HIGH>;	/* D8 */
		dir-gpios = <&gpioc 7 GPIO_ACTIVE_HIGH>;	/* D9 */
		step-width-ns = <100>;
		step-dir-transition-time-ns = <0>;
		dual-edge-step;
		counter = <&counter>;
	};
};
